
/* .AdDetailKey{
    font-family: Graphik;
    font-style: normal;
    font-weight: 500;
    font-size: 18px;
    line-height: 19.8px;
    color: #002F34;
    margin-top:32px;
    margin-left:24px;
} */

img
{
    border-radius: 5px;
}